	<form name="frmConfig" data-ng-submit="frmConfig.$valid && update()" novalidate data-ng-init="setFormScope(this)">
        <fieldset>
            <legend>Mode</legend>
            <div class="form-group">
                <div class="radio">
                    <label>
                        <input type="radio" name="mode" value="log" data-ng-model="config.breweries.mode">
                        Connecté
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="mode" id="mode" value="unlog" data-ng-model="config.breweries.mode">
                        Non-connecté.
                    </label>
                </div>
            </div>
        </fieldset>


		<fieldset>
			<legend>Paramétres d'accès au serveur distant</legend>
			<div class="form-group">
				<label for="url">URL</label>
				<input class="form-control" type="url" placeholder="Entrez une url" id="url" name="url" data-ng-model="config.server.restServerUrl">
			</div>
			<div class="form-group">
				<label for="token">Private token</label>
				<input class="form-control" type="text" placeholder="Entrez la clé" id="token" name="token" data-ng-model="config.server.privateToken" disabled="disabled" >
				<div class="checkbox">
					<label>
						<input type="checkbox" name="force" data-ng-model="config.server.force">
						Force connexion
					</label>
				</div>
			</div>
		</fieldset>
		<button type="submit" class="btn btn-default">Sauvegarder les modifications</button>
		&nbsp;<a href="breweries" class="btn btn-default" data-ng-click="cancel()">Annuler</a>
	</form>